@model WarsawSleepTime.Models.Models.AccountModels.LoginModel
@{
    ViewBag.Title = "Warsaw Sleep Time - Log in";
}
<div class="row highlight-dark">
    <div class="col-md-12">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4 class="white-subtitle">Use your account credentials to log in.</h4>
                <br/>
                <div class="keep-bottom-space">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </div>
                <div class="form-group keep-bottom-space">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label white-subtitle" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group keep-bottom-space">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label white-subtitle" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox white-subtitle">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Log in" class="btn btn-success" />
                    </div>
                </div>
                <p>
                    @Html.ActionLink("Don't have an account? Register as a new user now.", "Register")
                </p>
            }
        </section>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}