@model WarsawSleepTime.Models.Models.FriendsModels.FriendModel
@{
    ViewBag.Title = "Warsaw Sleep Time - Profile";
}
@{
    string imgSrc;
    if (Model.Image != null)
    {
        var base64 = Convert.ToBase64String(Model.Image);
        imgSrc = $"data:image/gif;base64,{base64}";
    }
    else
    {
        imgSrc = "../../Content/Images/profile.png";
    }
}
<div class="col-md-12 highlight-dark keep-top-reason-big">
    <div class="inline top-margin">
        <div class="inline left-padding">
            <div class="circular-small">
                <img id="blah" src="@imgSrc" class="inline" style="width: 150px; height: 150px;" alt="your image" />
            </div>
        </div>
        <div class="center-stretch">
            <div class="inline white-subtitle left-padding">
                @Model.FirstName @Model.LastName
            </div>
            <div class="white-subtitle">Phone number: @Model.PhoneNumber</div>
            @* ReSharper disable once PossibleInvalidOperationException *@
            <div class="white-subtitle">Date of birth: @Model.DateOfBirth.Value.Year-@Model.DateOfBirth.Value.Month-@Model.DateOfBirth.Value.Day</div>
            <div class="white-subtitle">Gender: @Model.Gender</div>
            <div class="inline left-padding">
                @* ReSharper disable once ConvertIfStatementToConditionalTernaryExpression *@
                @{
                    if (@Model.IsFriend)
                    {
                        @Html.ActionLink("Remove friend", "RemoveFriend", "Friends", new {id = Model.Id}, new {@class = "btn btn-success"})
                    }
                    else
                    {
                        @Html.ActionLink("Assign friend", "AssignFriend", "Friends", new { id = Model.Id }, new { @class = "btn btn-success" })
                    }
                }       
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah')
                    .attr('src', e.target.result)
                    .width(150)
                    .height(150);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
